.option{
    font-weight:300;
    font-size:12px;
    color:#bababa;
    padding: 10px;
    border-top:1px solid #404040;
}

.option a{
    color:#000;
    text-decoration:none;
}

.option span{
    color: #404040;
    margin-right: 10px;
}